.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }
  